.album {
  position: relative;
  width: 400px;
  margin: 0 1em 1em;
  float: right; 
}

.album .picturestyles_album_large {

}

.album .picturestyles_album_small_top {
  position: absolute;
  top: 0;
  right: 0;
}

.album .picturestyles_album_small_btm {
  position: absolute;
  bottom: 0;
  right: 0;
}